# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules/

# Build
dist/

# Tests
coverage/

# Misc
.DS_Store
.env

# Editors
## IntelliJ
/.idea

## VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn 2
.yarn/*
!.yarn/releases
!.yarn/plugins
